.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
}
.left-head {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.right-head {
    display: flex;
    font-size: 18px;
    gap: 16px;
}

.section1 {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.s1-left {
    display: flex;
    flex-direction: column;
    flex 1;
    align-items: flex-start;
    padding-left: 200px;
    gap: 8px;
   
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    padding: 0;
    margin: 0;
    flex: 0;
}

.img1 {
    padding-right: 200px;
    height: 250px;
}

a:hover, a:visited, a:link, a:active {

    color: #E5E7EB;
    text-decoration: none;
}

